@font-face {
  font-family: "Planewalker-italic";
  src: url("./fonts/planewalker/Planewalker Bold Italic.otf");
}

@font-face {
  font-family: "Planewalker-bold";
  src: url("./fonts/planewalker/Planewalker Bold.otf");
}

.App {
  text-align: center;
  background: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navBook {
  background-image: url("./img/lHYX1C.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Planewalker-italic";
}

.zone-nom {
  color:gold;
  font-family: "Planewalker-italic";
  text-align: center;
  font-size: 200%;
  text-shadow: 2px 2px #000;
}

.navBook p {
  font-family: "planewalker-bold"; 
}

.circle {
  background-image: url("./img/magic-circle-sigil-circle-thumbnail.jpg");
  backgournd-size: contain;
  background-repeat: no-repeat;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
