@font-face {
  font-family: "Planewalker-italic";
  src: url("./fonts/planewalker/Planewalker Bold Italic.otf");
}

@font-face {
  font-family: "Planewalker-bold";
  src: url("./fonts/planewalker/Planewalker Bold.otf");
}

.App {
  text-align: center;
  background: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navBook {
  background-image: url("./img/lHYX1C.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Planewalker-italic";
}

.zone-nom {
  color:gold;
  font-family: "Planewalker-italic";
  text-align: center;
  font-size: 200%;
  text-shadow: 2px 2px #000;
}

.navBook p {
  font-family: "planewalker-bold"; 
}

.modalBackground {
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Planewalker-italic";
}

.circle {
  background-image: url("./img/506-5062460_spell-circle-png-transparent-background-magic-circle-transparent.png");
  backgournd-size: contain;
  background-repeat: no-repeat;
  height:1200px;
  max-width:1200px;
}

.circle-nav {
  max-width:100%;
  max-height:100%;
}

.story {
  display: flex;
  flex-direction:row;
  align-self:self-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.JS {
  margin-top: 2rem;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  
}

.React {
  margin-top: 2rem;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.Tailwind {
  margin-top: 2rem;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.Node {
  margin-top: 2rem;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.Symfony {
  margin-top: 2rem;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.MySQL {
  margin-top: 2rem;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.MongoDB {
  margin-top: 2rem;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
